<div class="jumbotron" 
      style="padding-top: 29px;
            margin-bottom: 0px;
            padding-bottom: 41px;">
    <h1 style="margin-top: 0px;
               margin-bottom: 21px;">HRPRO MANAGER</h1>
    <p class="lead"></p>
    <p><a href="/Structure/CEO" class="btn btn-primary btn-lg"
           style="padding-left: 208px;
                padding-right: 208px;
                margin-left: 0px;
                margin-right: 0px;
                width: 497.454546px;">CEO</a></p>

    <p><a href="/Structure/DeliveryDirector" class="btn btn-primary btn-lg"
           style="padding-left: 142px;
                border-left-width: 0.727;
                padding-right: 100px;
                width: 470.454546px;">DELIVERY DIRECTOR</a></p>

    <p><a href="/Structure/ProjectManager" class="btn btn-primary btn-lg"
           style="width: 447.454546px;
                 padding-left: 73px;">PROJECT MANAGER</a></p>

    <p><a href="/Structure/TeamLead" class="btn btn-primary btn-lg"
           style="width: 424.454546px;
                padding-left: 91px;">TEAM LEADER</a></p>

    <p><a href="/Structure/Senior" class="btn btn-primary btn-lg"
           style="width: 397.454546px;
                padding-left: 101px;">SENIOR</a></p>

    <p><a href="/Structure/Intermediate" class="btn btn-primary btn-lg"
           style="width: 369.454546px;
                padding-left: 136px;">INTERMEDIATE</a></p>

    <p><a href="/Structure/Junior" class="btn btn-primary btn-lg"
           style="width: 342.454546px;
                padding-left: 153px;">JUNIOR</a></p>

    <p><a href="/Structure/Trainee" class="btn btn-primary btn-lg"
           style="width: 320.454546px;
                 padding-left: 171px;">TRAINEE</a></p>
</div>

